.scr
{
  overflow: scroll;
  table-layout: fixed;
  width: 2048px;
}

.ligne {
	height: 64px;
}

.cellule
{
   width:  64px;
   height: 64px;
   position: relative;
   overflow: visible;
   display: inline-block;
   box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:1px solid red;
}

.categorie_menu {
  max-height: 450px;
}

.element_menu {
  color: black;
  width: 100%;
}

.feuille_menu {
    padding: 0px;
    width: 130px;
}

.illustration_menu {
  #max-height : 70px;
}

#accordeon {
  float: left;
  position: fixed;
  border: 1px solid black;
  margin-right: 10px;
  z-index: 2500;
  width: 340px;
  top: 40px;
}

#contenu {
    float: left;
    padding-left: 350px;
}

#commit-distant {
    left: 180px;
    position: fixed;
    z-index: 2000;
}

#revert-distant {
    left: 240px;
    position: fixed;
    z-index: 2000;
}

#commit-local {
    left: 8px;
    position: fixed;
    z-index: 2000;
}

#revert-local {
    left: 90px;
    position: fixed;
    z-index: 2000;
}

.level-element {
    position: absolute;
    float:left;
    top: 0px;
    left: 0px;
}

.highlight-yellow
{
background-color:#FFD700;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

